# ==============================
# Maven
# ==============================
target/
surefire-reports/

# ==============================
# Java
# ==============================
*.class
hs_err_pid*
replay_pid*

# ==============================
# Eclipse
# ==============================
.classpath
.project
.settings/
.metadata/
.recommenders/

# ==============================
# IntelliJ IDEA
# ==============================
*.iml
.idea/

# ==============================
# Test / Report Output
# ==============================
test-output/
reports/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db
